<%- include('template/header') %>
<%- include('template/nav') %>


<div class="container-fluid text-center">
    <h1 class="text-center">Gestione Risorse</h1>
    
    <div class="container m-sm-auto  col-md-6 px-2 my-2"> 

      <div class="accordion " id="accordionRisorse">

        <div class="accordion-item">
          <h2 class="accordion-header" id="headingCategoria">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseCategoria" aria-expanded="false" aria-controls="collapseCategoria">
              Categorie
            </button>
          </h2>
          <div id="collapseCategoria" class="accordion-collapse collapse" aria-labelledby="headingCategoria" data-bs-parent="#accordionRisorse">       
            <div class="accordion-body">
              <div class="btn-group" role="group" aria-label="Basic outlined example"> 

                <select id="Categoria" name="Categoria" class="form-select form-select-sm " aria-label="Categorie">
                    <option value="" class="d-none" selected>Categoria</option>
                    <% if (categorie) { %>
                        <% categorie.forEach(element => { %>
                            <option value="<%= element.id_categoria %>"><%= element.categoria %></option>
                        <% }) %>
                    <% } %>
                </select>

                <button 
                type="button" 
                class="btn btn-primary" 
                data-bs-toggle="modal" 
                data-bs-target="#editModal" 
                data-bs-whatever="Categoria">
                  Modifica
                </button>

                <button 
                  type="button" 
                  class="btn btn-primary"
                  data-bs-toggle="modal" 
                  data-bs-target="#deleteModal" 
                  data-bs-whatever="Categoria">
                    Elimina
                </button>

              </div>

              <div class="form-group col-6 m-auto pt-3">    
                <form class="form" method="POST" action="/gestioneRisorse/categoriaAdd">
                    
                  
                    <label for="categoriaAggiunta" class="form-label">Aggiungi categoria</label>
                    <input type="text" class="form-control" name="categoriaAggiunta" id="categoriaAggiunta" aria-describedby="categoria"> 
                  
                  
                  <button type="submit" class="btn btn-primary">Submit</button>
                </form>
              </div>

            </div>
          </div> 
        </div>
        
        <div class="accordion-item">
          <h2 class="accordion-header" id="headingSottocategoria">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseSottocategoria" aria-expanded="false" aria-controls="collapseSottocategoria">
              Sottocategorie
            </button>
          </h2>
          <div id="collapseSottocategoria" class="accordion-collapse collapse" aria-labelledby="headingSottocategoria" data-bs-parent="#accordionRisorse">
            <div class="accordion-body">
              <div class="btn-group" role="group" aria-label="Basic outlined example"> 

                <select id="CatSottocategoria" name="CatSottocategoria" class="form-select form-select-sm " aria-label="catSottocategorie">
                  <option value="" class="d-none" selected>Categoria</option>
                  <% if (categorie) { %>
                      <% categorie.forEach(element => { %>
                          <option value="<%= element.id_categoria %>"><%= element.categoria %></option>
                      <% }) %>
                  <% } %>
                </select>

                <select id="Sottocategoria" name="Sottocategoria" class="form-select form-select-sm " aria-label="sottocategorie" >
                    <option value="" class="d-none" selected>Sottocategoria</option>
                    
                </select>

                <button 
                  type="button" 
                  class="btn btn-primary" 
                  data-bs-toggle="modal" 
                  data-bs-target="#editModal" 
                  data-bs-whatever="Sottocategoria">
                    Modifica
                </button>

                <button 
                  type="button" 
                  class="btn btn-primary"
                  data-bs-toggle="modal" 
                  data-bs-target="#deleteModal" 
                  data-bs-whatever="Sottocategoria">
                    Elimina
                </button>
              </div>

                 
                <form class="form  m-auto pt-3" method="POST" action="/gestioneRisorse/SottocategoriaAdd">

                  <div class="btn-group">
                    <label for="sottocategoriaAggiunta" class="form-label">Aggiungi sottocategoria</label>
                    <input type="text" class="form-control" name="sottocategoriaAggiunta" id="sottocategoriaAggiunta" aria-describedby="sottocategoria"> 

                    <select id="CatSottocategoriaAdd" name="CatSottocategoriaAdd" class="form-select form-select-sm" aria-label="catSottocategorieAdd">
                      <option value="" class="d-none" selected>Categoria</option>
                      <% if (categorie) { %>
                          <% categorie.forEach(element => { %>
                              <option value="<%= element.id_categoria %>"><%= element.categoria %></option>
                          <% }) %>
                      <% } %>
                    </select>
                  </div>
                  <button type="submit" class="btn btn-primary"> Aggiungi </button>

                </form>
              

            </div>
          </div>
        </div>

        <div class="accordion-item">
          <h2 class="accordion-header" id="headingUnitaMisura">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseUnitaMisura" aria-expanded="false" aria-controls="collapseUnitaMisura">
              Unita misura
            </button>
          </h2>
          <div id="collapseUnitaMisura" class="accordion-collapse collapse" aria-labelledby="headingUnitaMisura" data-bs-parent="#accordionRisorse">
            <div class="accordion-body">
              <div class="btn-group" role="group" aria-label="Basic outlined example"> 
                <select id="Unita" name="Unita" class="form-select form-select-sm" aria-label="unitaMisura">
                    <option value="" class="d-none">Unita</option>
                    <% if (unitaMisura) { %>
                        <% unitaMisura.forEach(element => { %>
                            <option value="<%= element.id_unita_misura %>"><%= element.unita_misura %></option>
                        <% }) %>
                    <% } %>
                </select>

                <button 
                  type="button" 
                  class="btn btn-primary" 
                  data-bs-toggle="modal" 
                  data-bs-target="#editModal" 
                  data-bs-whatever="Unita">
                    Modifica
                </button>

                <button 
                  type="button" 
                  class="btn btn-primary"
                  data-bs-toggle="modal" 
                  data-bs-target="#deleteModal" 
                  data-bs-whatever="Unita">
                    Elimina
                </button>

              </div>

              <div class="form-group col-6 m-auto pt-3">    
                <form class="form" method="POST" action="/gestioneRisorse/UnitaAdd">

                  <label for="unitaMisuraAggiunta" class="form-label">Aggiungi Unita misura</label>
                  <input type="text" class="form-control" name="unitaMisuraAggiunta" id="unitaMisuraAggiunta" aria-describedby="unitaMisura"> 
                  
                  <button type="submit" class="btn btn-primary"> Aggiungi </button>

                </form>
              </div>
            </div>
          </div>
        </div>

        <div class="accordion-item">
          <h2 class="accordion-header" id="headingCausali">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseCausali" aria-expanded="false" aria-controls="collapseCausali">
              Causali
            </button>
          </h2>
          <div id="collapseCausali" class="accordion-collapse collapse" aria-labelledby="headingCausali" data-bs-parent="#accordionRisorse">
            <div class="accordion-body">

              <div class="btn-group" role="group" aria-label="Basic outlined example"> 
                <select id="Causale" name="Causale" class="form-select form-select-sm " aria-label="Causale">
                    <option value="" class="d-none" selected>Causali</option>
                    <% if (causali) { %>
                        <% causali.forEach(element => { %>
                            <option value="<%=element.id_causale%>"><%= element.causale %></option>
                        <% }) %>
                    <% } %>
                </select>

                <button 
                  type="button" 
                  class="btn btn-primary" 
                  data-bs-toggle="modal" 
                  data-bs-target="#editModal" 
                  data-bs-whatever="Causale">
                    Modifica
                </button>

                <button 
                  type="button" 
                  class="btn btn-primary"
                  data-bs-toggle="modal" 
                  data-bs-target="#deleteModal" 
                  data-bs-whatever="Causale">
                    Elimina
                </button>
              </div>

              <div class="form-group col-6 m-auto pt-3">    
                <form class="form" method="POST" action="/gestioneRisorse/CausaleAdd">

                  <label for="causaleAggiunta" class="form-label">Aggiungi causale</label>
                  <input type="text" class="form-control" name="causaleAggiunta" id="causaleAggiunta" aria-describedby="causale"> 
                  
                  <button type="submit" class="btn btn-primary"> Aggiungi </button>

                </form>
              </div>

            </div>
          </div>
        </div>

      </div>
    </div>

   
    

    
    
                                    
  <div class="container">
    
    <div class="modal fade" id="editModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h1 class="modal-title fs-5" id="editModalLabel"></h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <form class="form-group" id="formUpdate" method="post">
              <div class="pb-3 col-5 m-auto">
                <input type="text" name="contenuto" class="form-control" id="recipient-name">
                <select id="categoriaModSotto" name="categoriaModSotto" class="form-select form-select-sm d-none" aria-label="categoriaModSotto" >

                </select>
              </div>
              
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Anulla</button>
              <button type="submit" class="btn btn-primary">Modifica</button>
            </form>
          </div>        
        </div>
      </div>
    </div>

    <div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="deleteModalLabel"></h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">

            <form class="form-group" id="formDelete" method="get">
  
              <h3>Sei sicuro di voler eliminare?</h3>
              
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Anulla</button>
              <button type="submit" class="btn btn-primary" >Elimina</button>
              
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>      
</div>

<script src="/js/gestioneRisorse.js"></script>
<%- include('template/footer') %>  