<%- include('template/header') %>
<%- include('template/nav') %>


<div class="container-fluid text-center">
    <h1 class="text-center">Gestione Risorse</h1>
    
    <div class="form-group m-sm-auto  col-md-6 px-2 my-2">    
        <div class="btn-group" role="group" aria-label="Basic outlined example"> 
            <select id="selectCat" name="selectCat" class="form-select form-select-sm " aria-label="Categorie">
                <option selected>Categoria</option>
                <% if (categorie) { %>
                    <% categorie.forEach(element => { %>
                        <option value="<%= element.id_categoria %>"><%= element.categoria %></option>
                    <% }) %>
                <% } %>
            </select>
              <a href="gestioneRisorse/edit/" class="btn btn-outline-primary">
                Modifica
              </a>
              <a href="gestioneRisorse/delete/" class="btn btn-outline-primary">
                Elimina
              </a>
        </div>
    </div>
    
 
    
   
    <div class="container">
        <div class="col-6 m-auto pt-3">    
            <form class="form" method="POST" action="/gestioneRisorse/add">
                <form>
                    <div class="mb-3">
                    <label for="categoriaAggiunta" class="form-label">Categorie</label>
                    <input type="text" class="form-control" name="categoriaAggiunta" id="categoriaAggiunta" aria-describedby="categoria">
                    </div>
                    
                    <button type="submit" class="btn btn-primary">Submit</button>
                </form>
            </form>
        </div>
    </div>


    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
        Launch demo modal
      </button>
      
      <!-- Modal -->
      <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h1 class="modal-title fs-5" id="exampleModalLabel">Modal title</h1>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              ...
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
              <button type="button" class="btn btn-primary">Save changes</button>
            </div>
          </div>
        </div>
      </div>
      



    
</div>

<script src="/js/script.js"></script>
<%- include('template/footer') %>  