<%- include('template/header') %>
<%- include('template/nav') %>


<div class="container-fluid text-center">
    <h1 class="text-center">Gestione Risorse</h1>
    
    <div class="form-group m-sm-auto  col-md-6 px-2 my-2">    
        <div class="btn-group" role="group" aria-label="Basic outlined example"> 
            <select id="selectCat" name="selectCat" class="form-select form-select-sm " aria-label="Categorie">
                <option selected>Categoria</option>
                <% if (categorie) { %>
                    <% categorie.forEach(element => { %>
                        <option value="<%= element.id_categoria %>"><%= element.categoria %></option>
                    <% }) %>
                <% } %>
            </select>
            <button type="button" id="modButton" class="btn btn-outline-primary">Modifica</button>
            <button type="button" action="DELETE" class="btn btn-outline-primary">Elimina</button>
        </div>
    </div>
    
 
    
   
    <div class="container">
        <div class="col-6 m-auto pt-3">    
            <form class="form" method="POST" action="/add">
                <form>
                    <div class="mb-3">
                    <label for="categoriaAggiunta" class="form-label">Categorie</label>
                    <input type="text" class="form-control" name="categoriaAggiunta" id="categoriaAggiunta" aria-describedby="categoria">
                    </div>
                    
                    <button type="submit" class="btn btn-primary">Submit</button>
                </form>
            </form>
        </div>
    </div>
    
</div>

<script src="/js/script.js"></script>
<%- include('template/footer') %>  