<%- include('template/header') %>
<%- include('template/nav') %>


<div class="container-fluid m-0 p-2">

    <h1 class="display-1 text-center "> Lista articoli</h1>

    <div class="collapse" id="formInvio">
        <form method="post" action="/listaArticoli/add">

            <div class="row gx-3">

                <div class="form-group m-sm-auto  col-md-6 px-2 my-2">    
                    <select class="form-select form-select-sm " aria-label="Default select example" id="articoloAddCat" name="articoloAddCat">
                        <option value="" class="d-none" selected>Categoria</option>
                    </select>
                </div>

                <div class="form-group m-sm-auto col-md-6 px-2 my-2">  
                    <select class="form-select form-select-sm col-6" aria-label="Default select example" id="articoloAddSottoCat" name="articoloAddSottoCat">
                        <option value="" class="d-none" selected>Sottocategoria</option>  
                    </select>
                </div>
            </div>
            
            <div class="row gx-3">
                <div class="form-group col-xs-12 col-md-6 px-2 my-2">
                    <input class="form-control input-sm" type="text" id="articoloAddNome" name="articoloAddNome" placeholder="Nome articolo">
                </div>

                <div class="form-group col-xs-12 col-md-6 px-2 my-2">
                    <input class="form-control input-sm" type="text" id="articoloAddDescrizione" name="articoloAddDescrizione" placeholder="Descrizione">
                </div>
            </div>
            
            <div class="row gx-3 p-0">
                
                <div class="form-group col-md-6 px-2 my-2">
                    <div class="input-group ">
                        <input class="form-control input-sm" style="width:60%" type="number" id='articoloAddCapacita' name="articoloAddCapacita" placeholder="capacità">
                        <select class="form-select form-select-sm"  style="width:40%" aria-label="Default select example" id="articoloAddUnita" name="articoloAddUnita">
                            <option value="" selected>Unita misura</option>
                        </select>                            
                    </div>
                </div>
                <button class="btn btn-secondary btn-md col-md-3 m-auto " type="submit" value="submit">inserisci</button>
            </div>  
        </form>
    </div>
                            
    <div class="row col-md-4 p-4 m-auto">
    <button class="btn btn-outline-secondary" type="button" data-bs-toggle="collapse" data-bs-target="#formInvio" aria-expanded="false" aria-controls="formInvio">Aggiungi articolo</button>
    </div>

    <table class="table table-secondary table-striped-columns w-auto m-auto">
        <thead>
            <tr> 
                <th scope="col">Articolo</th>
                <th scope="col">Sottocategoria</th>
                <th scope="col">Categoria</th>
                <th scope="col">Capacità</th>
                <th scope="col">Unità misura</th> 
                <th scope="col">Descrizione</th>
                <th scope="col" class="text-center">Elimina</th>
                <th scope="col" class="text-center">Modifica</th>
            </tr>
        </thead>
        
        <tbody > 

                <% if (articoli) { %>
                    <% articoli.forEach(element => { %>
                        <tr>
                            <td><%= element.nome_articolo %></td>
                            <td><%= element.sottocategoria %></td>
                            <td><%= element.categoria %></td>
                            <td><%= element.capacita !== null ? element.capacita :"//"%></td>
                            <td><%= element.unita_misura !== null ? element.unita_misura :"//"%></td>
                            <td><%= element.descrizione_articolo !== null ? element.descrizione_articolo :"//" %></td>
                            <td class="text-center"style="width: 30px;">
                                <a href="/listaArticoli/delete/<%= element.id_articolo %>"><i class="fas fa-trash"></i></a>
                            </td>
                            <td class="text-center"style="width: 30px;">
                                <a href="/listaArticoli/edit/<%= element.id_articolo %>"><i class="fas fa-pencil-alt"></i></a>
                            </td>
                        </tr>
                    <% }) %>
                <% } %>

        </tbody>
    </table>
</div>

<script src="js/listaArticoli.js"></script>
<%- include('template/footer') %>  
  