<%- include('template/header') %>
<%- include('template/nav') %>
<% const dataOptionsTime = { year: 'numeric', month: 'numeric', day: 'numeric', hour: 'numeric', minute: 'numeric'}; %>
<% const dataOptions = { year: 'numeric', month: 'numeric', day: 'numeric' }; %>

<div class="container-fluid">

    <h1 class="display-3 text-center "> Magazzino articoli</h1>

    <div class="collapse" id="invioCollapse">

        <form method="post" action="/add" >

            <div class="row gx-3 ">

                <div class="form-group m-sm-auto  col-md-6 p-2">    
                    <select class="form-select form-select-sm " id="categoriaAdd" name="categoriaAdd">
                        <option value="" selected class="d-none">Categoria</option>
                    </select>
                </div>

                <div class="form-group m-sm-auto col-md-6 p-2 ">  
                    <select class="form-select form-select-sm col-6" id="sottocategoriaAdd" name="sottocategoriaAdd">
                        <option value="" selected class="d-none">Sottocategoria</option>   
                    </select>
                </div>
            </div>

            <div class="row gx-3">
                <div class="form-group col-xs-auto col-md-6 p-2">
                    <select class="form-select form-select-sm col-6" aria-label="Default select example" id="articoloAdd" name="articoloAdd">
                        <option value="" selected class="d-none">Articolo</option>
                    </select>
                </div>

                <div class="form-group col-xs-auto col-md-6 p-2 ">
                    <div class="input-group ">
                        <input class="form-control input-sm" style="width:60%; height: 31px;" type="number" id='quantitaArticoloAdd' name="quantitaArticoloAdd" value="" placeholder="Quantità" min="0">

                        <input class="form-control input-sm" style="width:40%; height: 31px;" type="text" id='unitaArticoloAdd' name="unitaArticoloAdd" disabled >                                             
                    </div>
                </div>
            </div>
            
            <div class="row gx-3">
                
                <div class="form-group  col-xs-auto col-md-6 p-2 ">
                    <input class="form-control input-sm" style=" height: 31px;" type="text" id='lottoArticoloAdd' name="lottoArticoloAdd" placeholder="Lotto" >
                </div>

                <div class="form-group col-xs-auto col-md-6 p-2 ">
                    <div class="input-group">
                        <input class="form-control input-sm" style=" height: 31px;" type="text" id='prezzoArticoloAdd' name="prezzoArticoloAdd" placeholder="Prezzo" >
                        <span class="input-group-text" style="height: 31px;">$</span>
                    </div>
                </div>
               
            </div>  

            <div class="row gx-3 pt-3">
                
                <label class="col-2 col-form-label pb-sm-2" for="dataMovimentoArticolo" >Data movimento</label>
                <div class="col-4">
                    <input type="date" class="form-control" style=" height: 31px;"  id="dataMovimentoArticoloAdd" name="dataMovimentoArticoloAdd" >  
                </div>
            
                <label class="col-2 col-form-label pb-sm-2" for="dataScadenzaArticolo" >Data scadenza</label>          
                <div class="col-4">
                    <input type="date" class="form-control  " style=" height: 31px;" id="dataScadenzaArticoloAdd" name="dataScadenzaArticoloAdd" >                          
                </div>
                
            </div>  

            <div class="row gx-3 pt-3">
                <div class="form-group m-sm-auto col-md-6 p-2 m-auto">  
                    <select class="form-select form-select-sm col-xs-auto col-md-6 p-2"  id="fornitoreArticoloAdd" name="fornitoreArticoloAdd">
                        <option value="" selected>Fornitore</option>
                    </select>
                </div>

                <div class="col-6">
                    <button class="btn btn-secondary btn-md col-xs-auto col-md-3 m-auto" type="submit" value="submit">
                        Inserisci dati
                    </button>
                </div>
               
            </div>

            

        </Form>
    </div>
                            
    <div class="row col-md-4 p-4 m-auto">
        <button class="btn btn-outline-secondary btn-sm " type="button" data-bs-toggle="collapse" data-bs-target="#invioCollapse" aria-expanded="false" aria-controls="formInvio">
            Form invio dati
        </button>
    </div>

    <% if (articoliMagazzino) { %>
            <div class="table-responsive">
                <table class="table table-secondary table-striped-columns accordion accordion-flush w-auto m-auto ">
                    <thead>
                        <tr>
                            <th scope="col">Info articolo</th>
                            <th scope="col">Nome articolo</th>
                            <th scope="col">Categoria</th>
                            <th scope="col">Sottocategoria</th>
                            <th scope="col">Quantità</th>
                            <th scope="col">unità di misura</th>
                            <th scope="col">scadenza</th>
                            <th scope="col">Opzioni</th>               
                        </tr>
                    </thead>
                    <tbody>
                        <% articoliMagazzino.forEach(element => { %>
                            <div class="accordion-item">     
                                <tr class="accordion-header">
                                    <th scope="col">
                                        <button class="btn btn-secondary" type="button" data-bs-toggle="collapse" data-bs-target="#riga<%= element.id_magazzino %>" aria-expanded="false" >
                                            Info
                                        </button>
                                    </th>
                                    <th scope="col"><%= element.nome_articolo %></th>
                                    <th scope="col"><%= element.categoria %></th>
                                    <th scope="col"><%= element.sottocategoria %></th>
                                    <th scope="col"><%= element.quantita_movimento %></th>
                                    <th scope="col"><%= element.unita_misura !== null ? element.unita_misura : "//" %></th>
                                    <th scope="col"><%= element.data_scadenza !== null ? element.data_scadenza.toLocaleDateString('it-IT', dataOptions) : "//" %></th>
                                    <% console.log(element.data_scadenza) %>
                                    <th scope="col">
                                        <div class="btn-group dropup z-3 position-static" >
                                            <button type="button" class="btn btn-secondary " onclick="test();">Invia</button>
                                            <button type="button" class="btn btn-secondary dropdown-toggle dropdown-toggle-split " data-bs-toggle="dropdown" aria-expanded="false" data-bs-reference="parent" aria-haspopup="true" >
                                                <span class="visually-hidden ">Toggle Dropdown</span>
                                            </button>
                                            <ul class="dropdown-menu ">
                                                <li><a class="dropdown-item" onclick="test();">Modifica</a></li>
                                                <li><a class="dropdown-item" onclick="test();">Elimina</a></li>     
                                            </ul>
                                        </div>
                                    </th>
                                </tr>
                                    
                                <tr class="collapse accordion-collapse" id="riga<%= element.id_magazzino %>" data-bs-parent=".table">
                                    <td colspan="8"> 
                                        <div class="container  accordion-body text-center">
                                            <div class="row pb-2 ">
                                                <div class="col border border-dark">
                                                    Data movimento
                                                </div>
                                                <div class="col border border-dark">
                                                    Lotto
                                                </div>
                                                <div class="col border border-dark">
                                                    Prezzo
                                                </div>
                                                <div class="col border border-dark">
                                                    Fornitore
                                                </div>
                                            </div>       
                                            <div class="row">
                                                <div class="col border border-dark">
                                                    <%= element.data_movimento.toLocaleDateString('it-IT', dataOptionsTime) %>
                                                </div>
                                                <div class="col border border-dark">
                                                    <%= element.codice_lotto_articolo%>
                                                </div>
                                                <div class="col border border-dark">
                                                    <%= element.prezzo_articolo%>
                                                </div>
                                                <div class="col border border-dark">
                                                    <%= element.ragione_sociale%>
                                                </div>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                            </div>
                        <% }) %> 
                    </tbody>
                </table>
            </div>
          
    <% } %>

</div>

<script type="module" src="/js/tool.js"></script>
<script type="module" src="/js/magazzinoArticoli.js"></script>

<%- include('template/footer') %>