<%- include('template/header') %>
<%- include('template/nav') %>


<div class="container-fluid">

    <h1 class="display-3 text-center "> Magazzino articoli</h1>

    <div class="collapse" id="formInvio">
        <div class="form " method="post" action="#">

            <div class="row gx-3 ">

                <div class="form-group m-sm-auto  col-md-6 p-2">    
                    <select class="form-select form-select-sm " aria-label="Default select example">
                        <option selected>Categoria</option>

                            <%- // variabili d pescare db %>
                            <option value="" name="categoria" id="">categoria</option>
                          
                        
                    </select>
                </div>

                <div class="form-group m-sm-auto col-md-6 p-2 ">  
                    <select class="form-select form-select-sm col-6" aria-label="Default select example">
                        <option selected>Sottocategoria</option>

                            <%- // variabili d pescare db %>
                            <option value="" name="sottocategoria" id="sottocategoria">sottocategoria</option>
                            
                        
                    </select>
                </div>
            </div>
            
            <div class="row gx-3">
                <div class="form-group col-xs-auto col-md-6 p-2">
                    <select class="form-select form-select-sm col-6" aria-label="Default select example">
                        <option selected>Articolo</option>

                        <%- // variabili d pescare db %>
                            <option value="" name="sottocategoria" id="sottocategoria">sottocategoria</option>
                         
                        
                    </select>
                </div>

                <div class="form-group col-xs-auto col-md-6 p-2 ">
                    <div class="input-group ">
                        <input class="form-control input-sm" style="width:60%; height: 31px;" type="number" id='quantitaArticolo' name="quantitaArticolo" value="#" placeholder="Quantità" min="0">

                        <input class="form-control input-sm" style="width:40%; height: 31px;" type="text" id='unitaArticolo' name="unitaArticolo" value="#" placeholder="Unità" disabled >                                             
                    </div>
                </div>
            </div>
            
            <div class="row gx-3">
                
                <div class="form-group  col-xs-auto col-md-6 p-2 ">
                    <input class="form-control input-sm" style=" height: 31px;" type="text" id='lottoArticolo' name="lottoArticolo" placeholder="Lotto" >
                </div>

                <div class="form-group col-xs-auto col-md-6 p-2 ">
                    <div class="input-group">
                        <input class="form-control input-sm" style=" height: 31px;" type="text" id='prezzoArticolo' name="prezzoArticolo" placeholder="Prezzo" >
                        <span class="input-group-text" style="height: 31px;">$</span>
                    </div>
                </div>
               
            </div>  

            <div class="row gx-3 pt-3">
                
                <label class="col-2 col-form-label pb-sm-2" for="dataMovimentoArticolo" >Data movimento</label>
                <div class="col-4">
                    <input type="date" class="form-control" style=" height: 31px;"  id="dataMovimentoArticolo" name="dataMovimentoArticolo" >  
                </div>
            

            
                <label class="col-2 col-form-label pb-sm-2" for="dataScadenzaArticolo" >Data scadenza</label>          
                <div class="col-4">
                    <input type="date" class="form-control  " style=" height: 31px;" id="dataScadenzaArticolo" name="dataScadenzaArticolo" >                          
                </div>
                
            </div>  

            <div class="row gx-3 col-3 p-3 m-auto">
                
                    <button class="btn btn-secondary btn-md " type="submit" value="submit">
                        Inserisci dati
                    </button>
                
            </div>  

        </div>
    </div>
                            
    <div class="row col-md-4 p-4 m-auto">
        <button class="btn btn-outline-secondary btn-sm " type="button" data-bs-toggle="collapse" data-bs-target="#formInvio" aria-expanded="false" aria-controls="formInvio">
            Form invio dati
        </button>
    </div>

    <div class="table-responsive">
        <table class="table table-secondary table-striped-columns accordion accordion-flush w-auto m-auto ">
            <thead>
                <tr>
                <th scope="col">Info articolo</th>
                <th scope="col">Nome articolo</th>
                <th scope="col">Categoria</th>
                <th scope="col">Sottocategoria</th>
                <th scope="col">Quantità</th>
                <th scope="col">unità di misura</th>
                <th scope="col">scadenza</th>
                <th scope="col">Opzioni</th>               
                </tr>
            </thead>
            <tbody>
               <div class="accordion-item">     
                    <tr class="accordion-header">
                        <th scope="col">
                            <button class="btn btn-secondary" type="button" data-bs-toggle="collapse" data-bs-target="#riga1" aria-expanded="false" >
                                Info
                            </button>
                        </th>
                        <th scope="col">prova</th>
                        <th scope="col">Test2</th>
                        <th scope="col">Test2</th>
                        <th scope="col">Test2</th>
                        <th scope="col">Test2</th>
                        <th scope="col">Test2</th>
                        <th scope="col">
                            <div class="btn-group dropup"  >
                                <button type="button" class="btn btn-secondary" onclick="test();">Invia</button>
                                <button type="button" class="btn btn-secondary dropdown-toggle dropdown-toggle-split" data-bs-toggle="dropdown" aria-expanded="false" data-bs-reference="parent" aria-haspopup="true" >
                                    <span class="visually-hidden">Toggle Dropdown</span>
                                </button>
                                <ul class="dropdown-menu">
                                    <li><a class="dropdown-item" onclick="test();">Modifica</a></li>
                                    <li><a class="dropdown-item" onclick="test();">Elimina</a></li>     
                                </ul>
                            </div>
                        </th>
                    </tr>
                        
                    <tr class="collapse accordion-collapse" id="riga1" data-bs-parent=".table">
                        <td colspan="8"> 
                            <div class="container  accordion-body text-center">
                                <div class="row pb-2 ">
                                    <div class="col border border-dark">
                                        Data movimento
                                    </div>
                                    <div class="col border border-dark">
                                        Lotto
                                    </div>
                                    <div class="col border border-dark">
                                        Prezzo
                                    </div>
                                    <div class="col border border-dark">
                                        Fornitore
                                    </div>
                                </div>       
                                <div class="row">
                                    <div class="col border border-dark">
                                        12/20/2023
                                    </div>
                                    <div class="col border border-dark">
                                        2594786314
                                    </div>
                                    <div class="col border border-dark">
                                        133.21
                                    </div>
                                    <div class="col border border-dark">
                                        merce prova
                                    </div>
                                </div>
                            </div>
                        </td>
                    </tr>
               </div>

               <div class="accordion-item">     
                    <tr class="accordion-header">
                        <th scope="col">
                        <button class="btn btn-secondary" type="button" data-bs-toggle="collapse" data-bs-target="#riga2" aria-expanded="false" >
                            Info
                        </button>
                        </th>
                        <th scope="col">Test2</th>
                        <th scope="col">Test2</th>
                        <th scope="col">Test2</th>
                        <th scope="col">Test2</th>
                        <th scope="col">Test2</th>
                        <th scope="col">Test2</th>
                        <th scope="col">
                            <div class="btn-group dropup">
                                <button type="button" class="btn btn-secondary" onclick="test();">Invia</button>
                                <button type="button" class="btn btn-secondary dropdown-toggle dropdown-toggle-split" data-bs-toggle="dropdown" aria-expanded="false" data-bs-reference="parent" >
                                <span class="visually-hidden">Toggle Dropdown</span>
                                </button>
                                <ul class="dropdown-menu">
                                    <li><a class="dropdown-item" onclick="test();">Modifica</a></li>
                                    <li><a class="dropdown-item" onclick="test();">Elimina</a></li>     
                                </ul>
                            </div>
                        </th>
                    </tr>
                    
                    <tr class="collapse accordion-collapse" id="riga2" data-bs-parent=".table">
                        <td colspan="8"> 
                            <div class="container  accordion-body text-center">
                                <div class="row pb-2 ">
                                    <div class="col border border-dark">
                                        Data movimento
                                    </div>
                                    <div class="col border border-dark">
                                        Lotto
                                    </div>
                                    <div class="col border border-dark">
                                        Prezzo
                                    </div>
                                    <div class="col border border-dark">
                                        Fornitore
                                    </div>
                                </div>       
                                <div class="row">
                                    <div class="col border border-dark">
                                        12/20/2023
                                    </div>
                                    <div class="col border border-dark">
                                        2594786314
                                    </div>
                                    <div class="col border border-dark">
                                        133.21
                                    </div>
                                    <div class="col border border-dark">
                                        merce prova
                                    </div>
                                </div>
                            </div>
                        </td>
                    </tr>
                </div>



            </tbody>
        </table>
    </div>

</div>




<%- include('template/footer') %>